<h1>Edit <%= @user.name %></h1>
<%= form_for @user do |f| %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div>
    <%= f.label :t2_application_id %><br />
    <%= f.select :t2_application_id, options_from_collection_for_select(T2Application.all, :id, :title) %>
  </div>

  <div><%= f.submit "Update" %></div>
<% end %>
