- snapshots.each do |snapshot|
  %h2== Global Gross Utilization for today is #{number_to_percentage(snapshot.gross_utilization, precision: 2)}
  .left
    %p== Currently there are #{snapshot.staff.size} staff members of which #{snapshot.pure_billable.size} are 100% billable, #{snapshot.pure_overhead.size} are 0% billable, and #{snapshot.partially_billable.size} are partially billable.
    %ul.default
      %li== Based on billable time, these #{snapshot.staff.size} staff members equate to #{number_with_precision(snapshot.staff.to_fte, precision: 2)} FTEs which are billable.
      %li== Of the #{number_with_precision(snapshot.billable.to_fte, precision: 2)} billable FTEs, #{number_with_precision(snapshot.billing.to_fte, precision: 2)} are billing today.
      %li== Of the #{number_with_precision(snapshot.billable.to_fte, precision: 2)} billable FTEs, #{number_with_precision(snapshot.unassignable.to_fte, precision: 2)} are on PTO and #{number_with_precision(snapshot.assignable.to_fte, precision: 2)} are not.
      %li== Gross utilization is calculated as billing over billable.  For today, that is #{number_with_precision(snapshot.billing.to_fte, precision: 2)} / #{number_with_precision(snapshot.billable.to_fte, precision: 2)} = #{number_to_percentage(snapshot.gross_utilization, precision: 2)}
      %li== Net utilization eliminates the people on PTO from the denominator as unassignable.  For today, that is #{number_with_precision(snapshot.billing.to_fte, precision: 2)} / #{number_with_precision(snapshot.assignable.to_fte, precision: 2)} = #{number_to_percentage(snapshot.utilization, precision: 2)}
  %table
    %thead
      %tr
        %th.center.borderless Gross Utilization
        %th.center.borderless Net Utilization
    %tbody
      %tr
        %td.center
          %img{ src: "https://chart.googleapis.com/chart?cht=p&chs=350x200&chco=C1D906&chd=t:#{snapshot.billing.to_fte},#{snapshot.billable.to_fte - snapshot.billing.to_fte}&chl=Billing|Not Billing" }
        %td.center
          %img{ src: "https://chart.googleapis.com/chart?cht=p&chs=350x200&chco=C1D906&chd=t:#{snapshot.billing.to_fte},#{snapshot.assignable.to_fte - snapshot.billing.to_fte}&chl=Billing|Not Billing" }
