%h2= monthly_snapshot_title(snapshots.first.first)
%table
  %thead
    %tr
      %th Office
      %th Booked Gross
      %th Booked Net
      %th Projected Gross
      %th Projected Net
  %tbody
    - snapshots.each do |(snapshot, projected_snapshot)|
      %tr{class: snapshot.office.name.parameterize}
        %td= snapshot.office.name

        %td #{number_to_percentage(snapshot.gross_utilization, precision: 2)}
        %td #{number_to_percentage(snapshot.utilization, precision: 2)}

        %td #{number_to_percentage(projected_snapshot.gross_utilization, precision: 2)}
        %td #{number_to_percentage(projected_snapshot.utilization, precision: 2)}
  %tfoot
    %tr
      %td{colspan: 3} * See above for definition of Gross vs Net

