%h2= monthly_snapshot_title(snapshots.first)
%table
  %thead
    %tr
      %th Office
      %th.right Utilization
      %th Percentage*
  %tbody
    - snapshots.each do |snapshot|
      %tr{class: snapshot.office.name.parameterize}
        %td= snapshot.office.name
        %td.right== #{number_with_precision(snapshot.billing_days, precision: 2)} / #{number_with_precision(snapshot.assignable_days, precision: 2)}
        %td = #{number_to_percentage(snapshot.utilization, precision: 2)}
  %tfoot
    %tr
      %td{colspan: 3} * Calculated as Billing FTEs / Assignable FTEs

