%div
  = render partial: 'global', locals: { snapshots: @global }
  = render partial: 'projected', locals: { snapshots: @projected }
  = render partial: 'monthly', locals: { snapshots: @current_month }
  = render partial: 'monthly', locals: { snapshots: @future_month }
  = render partial: 'people', locals: { snapshots: @global }
