<!DOCTYPE html>
<html>
<head>
  <title>T2Api</title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= stylesheet_link_tag  "//get.pictos.cc/fonts/1717/9" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="primary">
  <% Nav.links.each do |link| %>
    <a href="<%= add_query_param(link[:url], "authentication_token", current_user.authentication_token) %>" title="<%= link[:title] %>" target="main_window">
      <span class="icon"><%= link[:icon] %></span>
      <strong><%= link[:title].downcase %></strong>
    </a>
  <% end %>

  <a href="http://neo.com" class="logo" title="The Lean Innovation Company">
    neo
  </a>
  <a class="settings" title="Settings" {{ action userSettings on="click" }}>
    <span class="icon">s</span>
    <strong>settings</strong>
  </a>
  <a href="/users/sign_out" class="exit" title="Logout"><span class="icon">q</span>
  <strong>sign out</strong>
  </a>
</nav>

<div class="window">
  <%= yield %>
</div>

</body>
</html>
