<!DOCTYPE html>
<html>
<head>
  <title>T2Api</title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= stylesheet_link_tag  "//get.pictos.cc/fonts/1717/9" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <base target="_parent" />
</head>
<body>

  <%= yield %>

</body>
</html>
